<section>
    <div class="container">
        <h3 class="display-3 mt-5">{{'pages.home.wellcome' | translate}} {{$parent.state.user.name}}</h3>
        <p>{{'pages.home.description' | translate}}</p>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/assets/img/illustrations/undraw-computer.svg" alt="scanner" class="img-fluid">
                            </div>
                            <div class="col-sm-7">
                                <h4>
                                    {{'pages.home.scanner.title' | translate}}
                                </h4>
                                <p>
                                    {{'pages.home.scanner.description' | translate}}
                                </p>
                                <div class="text-right">
                                    <a href="#/qr-code" class="btn btn-primary ripple">{{'pages.home.scanner.btn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/assets/img/illustrations/undraw_add_post_64nu.svg" alt="eventi" class="img-fluid">
                            </div>
                            <div class="col-sm-7">
                                <h4>
                                    {{'pages.home.events.title' | translate}}
                                </h4>
                                <p>
                                    {{'pages.home.events.description' | translate}}
                                </p>
                                <div class="text-right">
                                    <a href="#/events" class="btn btn-primary ripple">{{'pages.home.events.btn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/assets/img/illustrations/undraw_science_fqhl.svg" alt="laboratorio" class="img-fluid">
                            </div>
                            <div class="col-sm-7">
                                <h4>
                                    {{'pages.home.analysis.title' | translate}}
                                </h4>
                                <p>
                                    {{'pages.home.analysis.description' | translate}}
                                </p>
                                <div class="text-right">
                                    <a href="#/analysis" class="btn btn-primary ripple">{{'pages.home.analysis.btn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/assets/img/illustrations/non-compliance.svg" alt="eventi" class="img-fluid">
                            </div>
                            <div class="col-sm-7">
                                <h4>
                                    {{'pages.home.nonCompliances.title' | translate}}
                                </h4>
                                <p>
                                    {{'pages.home.nonCompliances.description' | translate}}
                                </p>
                                <div class="text-right">
                                    <a href="#/non-compliances" class="btn btn-primary ripple">{{'pages.home.nonCompliances.btn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>