<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <div ng-if="!state.sent">
                        <h5 class="card-title">Ripristino password</h5>
                        <form ng-submit="sendEmail()">
                            <div class="form-group">

                                <base-input ng-model="state.email" type="'email'" label="'Inserisci la tua email personale'" placeholder="'Enter email'" required></base-input>

                                <!-- <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp"  ng-model=""> -->
                                <small id="emailHelp" class="form-text text-muted">Verrà inviata l'emai al tuo indirizzo per
                                    cambiare password</small>
                            </div>
                            <base-button type="button" color="primary" text="Invia email"></base-button>
                        </form>
                    </div>
                    <div ng-if="state.sent">
                        <h5 class="card-title">Email inviata</h5>
                            
                                <label>È stata inviata un email nella tua casella di posta.</label>
                                <label>Per ripristinare la tua password controlla nella casella postale
                                </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>