<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ripristino password</h5>
                    <form ng-submit="salvaPassword()">
                        <div class="form-group">
                            <base-input ng-model="state.password" type="'password'" label="'Inserisci la tua nuova password'" placeholder="'Inserisci la password'" required></base-input>
                            <small id="emailHelp" class="form-text text-muted">La vecchia password verrà cambiata con la nuova password</small>
                        </div>
                        <base-button type="submit" color="primary" text="Cambia password"></base-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>